<template lang="html">

<div class="ui card">
  <div class="image">
    <img src="../../assets/dzierzazna_02092018.jpg">
  </div>
  <div class="content">
    <a class="header">Dzierżązna</a>
    <div class="meta">
      <span class="date">take  02/09/2018</span>
    </div>
    <div class="description">
      Jeden z ostatnich wolnych weekendów wykorzystuję na pokonywaniu własnych słabości oraz na udoskonalaniu swoich pasji :) A Ty, co porabiasz w ten weekend, by stać choć odrobinę lepszym człowiekiem? :)
      Dobrej nocy!
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="download icon"></i>
      22 pobranie
    </a>
  </div>
</div>

</template>

<script lang="js">
  export default  {
    name: 'card',
    props: [],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
  .card {

  }
</style>
