<template lang="html">

  <div class="content ">
    
    <div class="landing-screen">
      <img class="landing-screen__photo" src="https://source.unsplash.com/weekly?mountain" alt="" srcset="">
    </div>

    <lista></lista>
    
    <div class="row">
     
      <div v-for="i in 4" class="col-sm-4">  
      <card  ></card>
      </div>
    </div>



  </div>


</template>

<script lang="js">
  export default {
    name: 'content-container',
    props: [],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
  }

</script>

<style scoped lang="scss">
  .content-container {}
  

  .landing-screen{
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -60px;

    width: calc(100% + 30px);
    height: 100vh;
    &__photo{
      object-fit: cover;
      width:100%;
      height:100%;
    }
  }

</style>
